@font-face {
  src: url(/fonts/Raleway-Regular.ttf) format('truetype');
  font-family: 'Raleway-Regular';
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url(/fonts/Raleway-Bold.ttf) format('truetype');
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url(/fonts/BigShouldersDisplay-Light.ttf) format('truetype');
  font-family: 'BigShouldersDisplay-Light';
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url(/fonts/BigShouldersDisplay-Regular.ttf) format('truetype');
  font-family: 'BigShouldersDisplay-Regular';
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url(/fonts/BigShouldersDisplay-Medium.ttf) format('truetype');
  font-family: 'BigShouldersDisplay-Medium';
  font-style: normal;
  font-display: swap;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.-h1,
.-h2,
.-h3,
.-h4,
.-h5,
.-h6 {
  display: block;
}



h1,
.-h1 {
  font-family: 'Raleway-Bold';
  text-transform: uppercase;
  font-size: 7.993rem;
  line-height: 1.25;
  letter-spacing: 1.99rem;
}
h2,
.-h2 {
  font-family: 'Raleway-Bold';
  text-transform: uppercase;
  font-size: 5.6525rem;
  line-height: 1.25;
  letter-spacing: 1.4rem;
}
h3,
.-h3 {
  font-family: 'Raleway-Bold';
  text-transform: uppercase;
  font-size: 3.9975rem;
  line-height: 1.25;
  letter-spacing: 0.99rem;
}
h4,
.-h4 {
  font-family: 'Raleway-Bold';
  text-transform: uppercase;
  font-size: 2.832rem;
  line-height: 1.25;
  letter-spacing: 0.708rem;
}
h5,
.-h5 {
  font-family: 'Raleway-Bold';
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 0.5rem;
}
h6,
.-h6 {
  font-family: 'Raleway-Bold';
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.25;
  letter-spacing: 0.35rem;
}


.-up {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.-b {
  font-family: 'Raleway-Bold';
}

.-tac {
  text-align: center;
}
.-red {
  color: var(--c-red);
}

// .-nup {
//   text-transform: initial;
//   letter-spacing: initial;
// }

.-p {
  display: block;
  font-size: 1rem;
  line-height: 1.78;
}

.-mid {
  font-size: 0.8rem;
  line-height: 1.78;
}
.-m {
  font-size: 0.7rem;
  line-height: 1.78;
}
.-mm {
  font-size: 0.6rem;
  line-height: 1.2;
}

.-note {
  padding: 1rem 2rem;
  border-left: 2px solid var(--c-grey-4);
}


.-shoulders-l {
  font-family: 'BigShouldersDisplay-Light';
  text-transform: uppercase;
  letter-spacing: initial;
}
.-shoulders-r {
  font-family: 'BigShouldersDisplay-Regular';
  text-transform: uppercase;
  letter-spacing: initial;
}
.-shoulders-m {
  font-family: 'BigShouldersDisplay-Medium';
  text-transform: uppercase;
  letter-spacing: initial;
}



// .-basic {
//   font-family: 'HelveticaNow', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// }
// .-pp {
//   font-family: 'PPMonument';
//   text-transform: uppercase;
// }
// .-h5.-pp {
//   line-height: 1.05;
// }

// .-sharpie {
//   font-family: 'Sharpie';
//   text-transform: initial;
// }

a,
.-link {
  cursor: pointer;
  // color: var(--c-white);
  color: var(--c-red);
}


@media (min-width: 1024px) {
  a,
  .-link {}
  a:hover,
  .-link:hover {
    color: var(--c-white);
  }
}


// @media (max-width: 1280px) {
//   .-mid-h1 {
//     font-size: 4.768rem;
//     line-height: 0.95;
//   }
//   .-mid-h2 {
//     font-size: 3.052rem;
//     line-height: 1.1;
//   }
//   .-mid-h3 {
//     font-size: 2.441rem;
//   }
//   .-mid-h4 {
//     font-size: 1.953rem;
//   }
//   .-mid-h5 {
//     font-size: 1.563rem;
//     line-height: 1.25;
//   }
//   .-mid-h6 {
//     font-size: 1.25rem;
//     line-height: 1.25;
//   }
//   .-mid-m {
//     font-size: 0.8rem;
//     line-height: 1.5625;
//   }
//   .-mid-mm {
//     font-size: 0.7rem;
//     line-height: 1.5625;
//   }
//   .-mid-p {
//     display: block;
//     font-size: 1rem;
//     line-height: 1.5625;
//   }
// }

@media (max-width: 1024px) {
  
  .-m-mid {
    font-size: 0.8rem;
    line-height: 1.78;
  }
  .-m-m {
    font-size: 0.7rem;
    line-height: 1.78;
  }
  .-m-mm {
    font-size: 0.6rem;
    line-height: 1.2;
  }
}
